.quote-main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}

.quote-card {
    width: 300px;
}

.like-btn {
    padding: 5px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    border: solid 1px grey;
}

.liked {
    background-color: red;
    color: white;
}