.quote-main {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #fcfcfc;
    overflow: hidden;
}

.quote-card {
    width: 300px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.like-btn {
    padding: 5px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    border: solid 1px grey;
}

.liked {
    background-color: red;
    color: white;
}