:root {
    /* COLORS  */
    --black: #141414;
    --white: #f2f2f2;
    --green: #58c8ab;
    --black2: #0b0b0b;
    --dark-green: #1c322f;
    --dark-grey:#252525;
    --grey:#636267;
    --light-grey:#cecccd;

    /* GRADIENT */

    --lg-dark:linear-gradient(90deg,#141414  0% , #141414  65% ,#1c3833 100%);
    --lg-light:linear-gradient(90deg,#1c3833 0% , #1c3833 65% , #141414  100%);
    
    /* SHADOWS */

    --shadow-black: 0 1px 4px rgba(0, 0, 0, 0.3);
    --shadow-green:  0 2px 6px rgba(28, 56, 51, 0.6);
    --shadow-white:  0 6px 10px rgba(121, 117, 117, 0.3);
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial
}

button {
    width: 200px;
    padding: 10px 20px;
    border:none;
    outline: none;
    border-radius: 8px;
    box-shadow: var(--shadow-white);
    cursor: pointer;
    margin: 20px;
}
.header {
    font-size: 34px;
    margin-block: 20px;
}
.error-message {
    color: red;
    margin-top: 5px;
    letter-spacing: 2px;
    font-size: 14px;
}

.quote-main {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    flex-wrap: wrap;
    padding: 20px;
    background-color: var(--black);
    color: var(--white);
}

.quote-card {
    width: 300px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.like-btn {
    padding: 5px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    border: solid 1px grey;
}

.liked {
    background-color: red;
    color: white;
}